* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: $dark-color;
  color: $light-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
}

a {
  color: $primary-color;
  transition: color 0.35s;
  text-decoration: none;

  &:hover {
    color: $lightest-color;
  }
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
  font-family: monospace,monospace;
  font-size: 1em;
  color: rgba($light-color, .8);

  // Fixes iOS font sizing anomaly
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

pre {
  position: relative;
  font-size: 1rem;
  line-height: 1.2em;
  margin: 0;
  overflow: auto;

  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  code {
    font-size: .8em;
  }
}

// 复制按钮样式
.copy-btn {
    position: absolute; // 绝对定位
    top: 10px;
    right: 10px;
    background-color: rgba($primary-color, 0.5); // 使用 primary-color 并设置 50% 透明度
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
    z-index: 1;
    opacity: 0; // 默认按钮完全透明
    transition: opacity 0.3s ease; // 添加过渡效果
}

pre:hover .copy-btn {
    opacity: 1; // 当鼠标悬停在代码块上时显示按钮
}

::selection {
  background: rgba($light-color, .25);
}
::-moz-selection {
  background: rgba($light-color, .25);
}

.meta-item {
  display: inline-flex;
  align-items: center;
}

.meta-item svg {
  margin-right: 0.3em; /* 控制 icon 与文字的距离 */
}

.section-divider {
  border: none;
  border-top: 1px solid #ddd;
  margin: 3em 0;
}
