// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.

img {
    display: block;
    margin: 0;
    max-width: 100%;
    text-align: left;
}

p img {
    width: 65%;
    margin-bottom: 1rem;
}


/* TOC 容器样式 */
.toc-container {
  position: fixed;
  top: 20%;
  right: -300px; /* 初始位置在屏幕外 */
  width: 250px;
  max-height: 60%;
  overflow-y: auto;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #ddd;
  padding: 15px;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.toc-container.visible {
  right: 0; /* 显示时滑入屏幕 */
}

/* 目录列表样式 */
.toc-container ul {
  list-style-type: none;
  padding-left: 0;
}

.toc-container li {
  margin-bottom: 8px;
}

.toc-container a {
  text-decoration: none;
  color: #007bff;
}

.toc-container a:hover {
  text-decoration: underline;
}

/* 不同级别标题的缩进 */
.toc-item.h1 {
  margin-left: 0;
}

.toc-item.h2 {
  margin-left: 10px;
}

.toc-item.h3 {
  margin-left: 20px;
}

/* 浮动按钮样式 */
.toc-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.toc-toggle:focus {
  outline: none;
}

.toc-toggle:hover {
  background-color: #0056b3;
}

/* 隐藏目录 */
.hidden {
  display: none;
}


.visitor-counter {
  margin: auto;
  width: 60%;
  margin-top: 20px;  /* 根据你的需要调整间距 */
  text-align: center;  /* 可以让计数器居中显示 */
}


/* 设置表格线条样式和透明背景 */
table {
    border-collapse: collapse; /* 合并边框 */
    width: 100%; /* 让表格宽度占满容器 */
    background-color: transparent; /* 背景透明 */
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.3); /* 淡白色边框，透明度30% */
    padding: 8px; /* 设置内边距 */
    color: inherit; /* 保持字体颜色与页面一致 */
}

th {
    text-align: left; /* 表头文字左对齐 */
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05); /* 设置隔行背景色，保持透明度 */
}



/* 公众号二维码 */
.qrcode-container {
    text-align: center; /* 水平居中 */
    margin: 0 auto; /* 水平居中 */
    padding: 2px 0; /* 上下留白 */
}

.qrcode-image {
    width: 150px; /* 设置二维码宽度 */
    height: 150px; /* 设置二维码高度 */
    display: block; /* 使图片居中 */
    margin: 0 auto; /* 水平居中 */
}

.qrcode-text {
    margin-top: 10px; /* 文字与图片的间距 */
    font-size: 14px;
    color: #666;
}
