// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.

img {
    display: block;
    margin: 0;
    max-width: 100%;
    text-align: left;
}

p img {
    width: 65%;
    margin-bottom: 1rem;
}
